# Ambiente virtual
venv/
.env/
.venv/

# Bytecode Python
__pycache__/

# Arquivos temporários
.vscode/

# Arquivos de credenciais
.env

# Arquivos ainda não trabalhados
README.md
docker-compose.yml
Dockerfile
tests/
etl.py